<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>mahluta2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
<description/>

<display-name>AppointmentController</display-name>

<servlet-name>AppointmentController</servlet-name>

<servlet-class>controller.AppointmentController</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>AppointmentController</servlet-name>

<url-pattern>/AppointmentController</url-pattern>

</servlet-mapping>


<servlet>
<description/>

<display-name>ShiftController</display-name>

<servlet-name>ShiftController</servlet-name>

<servlet-class>controller.ShiftController</servlet-class>

</servlet>


<servlet-mapping>

<servlet-name>ShiftController</servlet-name>

<url-pattern>/ShiftController</url-pattern>

</servlet-mapping>



</web-app>
